<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <mat-icon class="menuIcon" (click)="drawer.toggle()">menu</mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logoContainer">
      platz für logo
    </div>
    <ul class="menuItems">
      <li routerLink="/"><mat-icon>assignment_ind</mat-icon>Dashboard</li>
      <li routerLink="/user"><mat-icon>accessibility_new</mat-icon>User</li>
    </ul>
  </mat-drawer>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>